@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');


body.carscxTheme {
  background-color: #36393f;
  color: #dadadc;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.carscxTheme #page-container-loading {
  background-color: #36393f;
  color: #dadadc;
}